@import url('https://fonts.googleapis.com/css2?family=Langar&family=Lato:ital@1&display=swap');
.info {
    color: #0971a4;
    font-family: 'Langar', cursive;
    font-family: 'Lato', sans-serif;
    font-size:15px;
}
.box{
    display:flex;
    justify-content:space-around;
}
.info-font {
    color: #0971a4;
    font-family: 'Langar', cursive;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
.add  {
    background-color: #00345b !important;
    border-color: #00345b !important;
    width:130px;
    font-size:20px;
}
.description {
    
    padding:10px;
   
}
.blue {
    background-color: #0971a4 !important;
    border-color: #0971a4 !important;
    width: 130px;
}

.blue:hover {
    background-color: #00345b !important;
}
.delete {
    width: 130px;
    background-color: #6b2222 !important;
    border-color: #6b2222 !important;
}
    .delete:hover {
        background-color: #541b1b !important;
    }
.buttons {
    display: inline-flex;
    padding: 20px;
    flex-wrap: wrap;
   
}
.blue, .delete
{
    margin:6px;
}

.text {
    min-height: 150px;
    width: 30%;
    border-color: #0971a4;
    resize: vertical;
}
input, textarea
{
    margin:10px;
}
.strong {
    font-weight: 700;
   
}
.reviews {
    background-color: #e9ebee;
    width:100%;
}
.page-section-title {
    padding: 20px;
}
.back
{
    text-decoration: none !important;
    font-size: 20px;
    color: #00345b;
}
